@model IList<EventSignIn.Models.CategoryModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

@foreach (var category in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @category.Name
            <a href="@Url.Action("Edit", "Category", new { id = category.Id})"><i class="icon icon-edit"></i></a>
        </div>
        <div class="panel-body">@category.Description</div>

    </div>
}

<a class="btn" href="@Url.Action("Create", "Category")">
    <i class="icon icon-plus"></i>
    Create New
</a>
