@model EventSignIn.Models.EventModel

@using (Html.BeginForm("Create", "Event"))
{
    <fieldset>
        <legend>New Event</legend>
        <div>
            Name: <input id="Name" name="Name" type="text" value="@(Model != null ? Model.Name : string.Empty)"/>
        </div>
        <div>
            Description: <input id="Description" name="Description" type="text" value="@(Model != null ? Model.Description : string.Empty)"/>
        </div>
        <div>
            Location: <input id="Location" name="Location" type="text" value="@(Model != null ? Model.Location : string.Empty)"/>
        </div>
        <div>
            Date: 
            <div id="datetimepicker2" class="input-append">
                <input id="Date" name="Date" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#datetimepicker2').datetimepicker({
                    language: 'en',
                    pick12HourFormat: true
                });
            })(jQuery);
        </script>
        <input type="submit" value="Create Event"/>
    </fieldset>
}

